html, body
{
    width: 100%;
    height: 100%;
    background-color: #111216;
}

body
{
    position: relative;
}

body .graphique-log
{
    position: absolute;
    top: 20px;
    width: 300px;
    left: 50%;
    margin-left: -150px;
}

body .graphique-error
{
    border: 1px solid #ffffff;
    background-color: #924848;
    color: #ffffff;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-bottom: 10px;
}

body.noanimation *
{
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

a
{
    color: #f1f1f1 !important;
}

a:hover
{
    color: #dedede !important;
    text-decoration: none !important;
    cursor: pointer;
}

*:not(.glyphicon)
{
    font-family: 'Roboto Condensed', 'Arial' !important;
}

.navbar-default
{
    padding-left: 20px;
    padding-right: 20px;

    border-radius: 0px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;

    margin-bottom: 0px;

    background-color: #282828;
    border: none;
    border-bottom: 1px solid #393939;

    -moz-box-shadow:    1px 1px 3px #000000;
    -webkit-box-shadow: 1px 1px 3px #000000;
    box-shadow:         1px 1px 3px #000000;
}

.navbar-default .dropdown .dropdown-toggle
{
    display: inline-block;
    padding: 15px;
}

.navbar-default .dropdown.open .dropdown-toggle
{
    background-color: #282828;
}

.navbar-default .dropdown .dropdown-menu
{
    padding: 0px;
    top: auto;
    background-color: #282828;

    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;

    margin-top: -1px;
    border-top: 0px;

    -moz-box-shadow:    none;
    -webkit-box-shadow: none;
    box-shadow:         none;
}

.navbar-default .dropdown .dropdown-menu li
{
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 20px;
    font-weight: normal;
    margin: 5px;
    width: 280px;
}

.navbar-default .dropdown .dropdown-menu li.grey,
.navbar-default .dropdown .dropdown-menu li.grey span
{
    color: #999999 !important;
}

.navbar-default .dropdown .dropdown-menu li:hover
{
    background-color: #333333;
}

.navbar-default .dropdown .dropdown-menu li div
{
    display: inline-block;
    line-height: 30px;
}

.navbar-default .dropdown .dropdown-menu li a,
.navbar-default .dropdown .dropdown-menu li span
{
    padding: 0px;
    color: #cccccc !important;
    margin-right: 15px;
    clear: none !important;
}


.navbar-default .dropdown .dropdown-menu li span
{
    margin-top: 4px;
}

.navbar-default .dropdown .dropdown-menu li a:hover
{
    background-color: transparent !important;
    color: #5dbce3 !important;
}

.navbar-default .navbar-brand
{
    font-size: 24px;
    padding: 0px;
    padding-left: 0px;
    color: #f1f1f1 !important;
    cursor: pointer;
}

.navbar-default .navbar-brand .caret
{
    margin-left: 20px;
    color: #5C5652;
    border-top: 6px solid;
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
}

.navbar-default .navbar-right
{
    font-size: 18px;
    margin-right: 0px !important;
}

.navbar-default .navbar-right li
{
    height: 48px;
    line-height: 48px;
    display: inline-block;
}

.navbar-default .navbar-right a
{
    height: 100%;
    width: auto;
    display: inline-block;
    padding-right: 15px;
    border-bottom: 3px solid #403b38;
}

.navbar-default .navbar-right a:hover,
.navbar-default .navbar-right a.down
{
    color: #5dbce3 !important;
    border-bottom: 3px solid #5dbce3;
}

.nav-tabs
{
    border-bottom: 1px solid #333333;
}

.nav-tabs li a
{
    background-color: #333333;
    color: #EFEFEF !important;
    border: 1px solid #333333 !important;
}

.nav-tabs li a:hover
{
    background-color: #222222;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus
{
    background-color: #222222;
    color: #FFFFFF !important;
}

.form-control
{
    background-color: #222222 !important;
    color: #dedede;
    border: 1px solid #333333;
}

.tab-content
{
    padding: 10px;
    margin-top: 10px;
}

.container
{
    width: 100%;
    padding: 25px;
}

.box
{
    background-color: #171717;
    border: 4px solid #2a2a2a;

    height: 100%;
    padding: 12px;

    color: #cccccc;
}

.box .header
{
    position: relative;
}

.box .header h2
{
    margin: 0px;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;

    padding-bottom: 10px;
    margin-bottom: 10px;
}

.box .header h3
{
    margin: 0px;
    margin-bottom: 20px;
    color: #cccccc;
}

.box .header .glyphicon-cog
{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 15px;

    color: #bdbab8 !important;
}

.box .header .glyphicon-cog:hover
{
    color: #5dbce3 !important;
}

.box .row
{
    margin: 0px;
}

.box .row [class^='col']
{
    padding: 0px;
}

.load
{
    background-image: url('../img/ajax-loader.gif');
    background-position: center 10px;
    background-repeat: no-repeat;
}

.queue
{
    /* nothing */
}

.block
{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;

    background-color: #111111;
    z-index: 999;

    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

button.close
{
    color: #999999;
}

.settings
{
    width: 600px;
    height: auto;
    left: 50%;
    margin-left: -300px;
    top: 100px;
    position: absolute;

    z-index: 1000;

    padding: 20px;
}

.settings p
{
    margin-bottom: 30px;
}

.settings button[type="submit"]
{
    margin-top: 10px;
}

.settings.box .form-group
{

}

.settings.box .form-group label
{
    font-weight: normal;
}

.settings .widget
{
    background-color: #222222;
    border: 1px solid #333333;
    padding: 15px;
    color: #ffffff;
}

.settings .widget a:hover
{
    color: #5dbce3 !important;
}

.settings .widget:not(:first-child)
{
    margin-top: 10px;
}

.settings .widget h4,
.settings .widget p
{
    margin: 5px;
}

.settings .widget .glyphicon-plus
{
    margin: 20px;
    font-size: 30px;
}

.grid
{
    position: relative;
}